<h1 id="tableLabel">Devices</h1>

<p *ngIf="!devices"><em>Loading...</em></p>

<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection"> 
        System Type
        <input [(ngModel)]="device.systemType" name="systemType" type="text" style="width: 200px;"/>       
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        Maker
        <input [(ngModel)]="device.maker" name="maker" type="text" style="width: 200px;"/>
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        System Name
        <input [(ngModel)]="device.systemName" name="systemName" type="text" style="width: 200px;"/>
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        <mat-label>Purchased</mat-label>
        <input matInput [(ngModel)]="device.datePurchased" name="datePurchased"type="Date" style="width: 200px;"/>
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        <mat-checkbox matInput [(ngModel)]="device.isAssigned" class="isAssigned">Is Assigned</mat-checkbox>
        <!-- <input matInput [(ngModel)]="device.isAssigned" name="isAssigned" type="checkbox" /> -->
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        <mat-label>Organization</mat-label>
        <input matInput [(ngModel)]="device.organization" name="organization" type="text" style="width: 200px;"/>
    </mat-form-field>
</form>
<form class="DevicesForm">
    <mat-form-field class="DeviceSubSection">
        <mat-label>Department</mat-label>
        <input matInput [(ngModel)]="device.department" name="department" type="text" style="width: 200px;"/>
    </mat-form-field>
</form>
  
<button (click)="save()">Save</button>
